<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rss.rssapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".UI.RssMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".UI.DatailActivity"
            android:label="@string/detail"
            android:parentActivityName=".UI.DetailPreview">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.DetailPreview" />
        </activity>

        <activity
            android:name=".UI.DetailPreview"
            android:label="@string/detail"
            android:parentActivityName=".UI.RssMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.RssMainActivity" />
        </activity>
    </application>

</manifest>